@charset "utf-8";
body{
	background: #E01941;
	color: #E01941;
}
botton:active{
	background-color: transparent; 
	border-bottom-color: transparent;
	outline: 0 !important;
	border: 0;
}
button::-moz-focus-inner 
{
  border: 0;
}
p{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 40pt;
	color: white;
}
